<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>Receipt</title>

        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />

        <!-- Bootstrap -->

        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="styleb.css" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="booking" class="section">
            <div class="section-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="booking-cta">
                                <h1>YOUR RECEIPT</h1>
                            </div>
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <div class="booking-form">
                                <form action="/pay" method="POST" class="bookingform" name="bookingform">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="form-label">express no</span>
                                                <input class="form-control" name="eno" type="text" value="<%= final[0]%>" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="form-label">train no</span>
                                                <input class="form-control" name="tno" type="text" value="<%= final[1]%>" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="form-label">from</span>
                                                <input class="form-control" name="from" type="text" value="<%= final[2]%>" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="form-label">to</span>
                                                <input class="form-control" name="to" type="text" value="<%= final[3]%>" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="form-label">No of first class tickets</span>
                                                <input class="form-control" name="fc" type="text" value="<%= final[4]%>" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="form-label">No of second class tickets</span>
                                                <input class="form-control" name="sc" type="text" value="<%= final[5]%>" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <span class="form-label">amount to pay</span>
                                                <input class="form-control" name="amount" type="text" value="<%= final[6]%>" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-btn">
                                        <button class="submit-btn">PROCEED TO PAY</button>
                                        <!--<input type="submit" class="submit-btn" value="Show trains"> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
